*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    height: 50px;
    width: 100%;
    /* margin: 20px; */
    background: red;
    border: 3px solid black;
}
li {
    display: flexbox;
    display: inline;
    padding: 10px;
    /* text-align:a center;
    justify-content: center; */


}

main{
    height: 90vh;
    width: 100vw;
    background-color: rgb(56, 56, 138);
    color: wheat;
    margin: 10px 0px 10px 0px;
    border: 4px solid rgb(240, 59, 14);
}

footer
{
    background-color: blueviolet;
    color: azure;
    text-align: center;
}
